.thumbnail {
  position: relative;
}
.thumbnail:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  /* background:rgba(0,0,0,0.3); */
  background:rgba(75,75,150,0.3);
}
.img-fluid {
  max-width: 108%;
}
.img602 {
  min-height: 602px;
  max-height: 602px;
  width: 108%;
  object-fit: cover;
}

.img-reco {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  /* margin-bottom: 1rem; */
}

.caption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}
.caption2 {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%
  /* width: 80%; */
}
.titulo{
  color: #ffffff;
  font-family: Lato;
  font-size:10vw;
  /*font-weight: 300; */
  letter-spacing: -5px;
  /* Text style for "Lorem ipsu" */
  font-family: Helvetica;
  /* font-weight: 300; */
}

.titulo2{
  color: #ffffff;
  font-family: Lato;
  font-size: 35px;
}

.subtitulo{
  /* font-size: 2vw; */
  opacity: 0.7;
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 25px;
}

.btn-redondo {
  border-radius: 100px;
  padding: 4% 11%;
  /* font-size: 1.5vw; */
  font-size: 14px;
  font-family: Lato;
}
.btn-redondo2 {
  margin: 10%;
  padding: 6% 14%;
  /* font-size: 1.8vw; */
  font-size: 14px;
}

.landing {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index:999;
}

.land-text {
  color: #d9f0ff;
  font-family: "Dancing Script";
  font-size: 2.5vw;
  font-weight: 600;
}

.nav-der {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index:999;
}

.nav-titulo {
  color: #d9f0ff;
  font-family: Poppins;
  /* font-size: 1vw; */
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.titulo-tarjeta{
  padding: 10%;
  padding-bottom: 0%;
  color: #000000;
  font-family: Lato;
  font-size: 50px;
  font-weight: 300;
}

.tarjeta-titulo2{
  font-family: Lato;
  /* font-size: 1.5vw; */
  font-size: 18px;
}

.texto-tarjeta {
  opacity: 0.5;
  padding: 7% 10% 0%;
  color: #000000;
  font-family: Poppins;
  /* font-size: 1.5vw; */
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 25px;
}

.texto-tarjeta2 {
  opacity: 0.65;
  color: #000000;
  font-family: Poppins;
  /* font-size: 1vw; */
  font-size: 16px;
}

.tarjeta-cuerpo {
  padding: 2.25rem;
  padding-top: 0px;
}
.tarjeta-img {
  padding: 0px;
}

.tarjeta {
  border: none;
  max-height: 602px;
}

.copyright {
  opacity: 0.52;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}